.container {
  display: flex;
}

.left-panel {
  flex: 30%;
  padding-right: 20px;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.right-panel {
  flex: 70%;
  padding-left: 20px;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px; /* Add margin for gap */
}

.user-ids-heading {
  margin-top: 0;
  font-size: 18px;
}

.user-ids-list {
  list-style-type: none;
  padding: 0;
}

.user-id {
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 5px;
}

.form-heading {
  margin-top: 0;
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 6px; /* Adjusted padding */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  display: block;
  width: calc(100% - 20px); /* Adjusted width */
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-data-container {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-data-heading {
  margin-top: 0;
}

.form-data {
  margin-bottom: 5px;
}

.form-description {
  margin-top: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-panel, .left-panel {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .form-input {
    width: calc(100% - 14px);
  }

  .form-button {
    width: calc(100% - 14px);
  }
}
